#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        undersore {
            bindings = <&kp LSHIFT>;
            key-positions = <23>;
        };

        test {
            bindings = <&none>;
            key-positions = <33 34 35 19 21 36 28 38 52 57>;
        };
    };

    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-tap-dance";
            label = "NEW_BEHAVIOR";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_1>, <&kp LC(F23)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        WinLayer {
            bindings = <
&none                    &none       &none     &none     &none             &none                                    &none        &none  &none      &none    &none        &none
&kp TAB                  &kp Q       &kp W     &kp E     &kp R             &kp T                                    &kp Y        &kp U  &kp I      &kp O    &kp P        &kp MINUS
&mt LCTRL ENTER          &kp A       &kp S     &kp D     &kp F             &kp G            &none       &none       &kp H        &kp J  &kp K      &kp L    &lt 2 ENTER  &kp SEMI
&mt LSHFT BACKSPACE      &kp Z       &kp X     &kp C     &kp V             &kp B            &kp LS(N8)  &kp LS(N9)  &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH    &mt LS(RSHFT) BACKSLASH
&mt LS(LCTRL) BACKSPACE  &kp ESCAPE  &kp LGUI  &kp LALT  &lt 2 LANGUAGE_1  &mt LCTRL SPACE  &lt 3 LBRC  &lt 2 RBRC  &lt 3 LANG2  &none  &none      &none    &kp K_APP    &kp DEL
            >;
        };

        MacLayer {
            bindings = <
&none                       &none       &none     &none     &none             &none                                       &none        &none  &none      &none    &none        &none
&kp TAB                     &kp Q       &kp W     &kp E     &kp R             &kp T                                       &kp Y        &kp U  &kp I      &kp O    &kp P        &kp MINUS
&mt LCTRL ENTER             &kp A       &kp S     &kp D     &kp F             &kp G               &none       &none       &kp H        &kp J  &kp K      &kp L    &lt 2 ENTER  &kp SEMI
&mt LSHFT BACKSPACE         &kp Z       &kp X     &kp C     &kp V             &kp B               &kp LS(N8)  &kp LS(N9)  &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH    &mt LS(RSHFT) BACKSLASH
&mt LS(LEFT_GUI) BACKSPACE  &kp ESCAPE  &kp LGUI  &kp LALT  &lt 2 LANGUAGE_1  &mt LEFT_GUI SPACE  &lt 3 LBRC  &lt 2 RBRC  &lt 3 LANG2  &none  &none      &none    &kp K_APP    &kp DEL
            >;
        };

        ShortCutLayer {
            bindings = <
&trans  &trans     &trans     &trans     &trans     &trans                     &trans     &trans     &trans          &trans       &trans        &trans
&trans  &kp LG(Q)  &kp LG(W)  &kp LG(E)  &kp LG(R)  &kp LG(T)                  &kp LG(Y)  &mkp MB4   &msc SCRL_UP    &mkp MB5     &kp LG(P)     &kp LG(MINUS)
&trans  &kp LG(A)  &kp LG(S)  &kp LG(D)  &kp LG(F)  &kp LG(G)  &trans  &trans  &kp LG(J)  &mkp LCLK  &mkp MCLK       &mkp RCLK    &trans        &kp LG(COLON)
&trans  &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LG(B)  &trans  &trans  &kp LG(N)  &kp LG(M)  &msc SCRL_DOWN  &kp LG(DOT)  &kp LG(FSLH)  &kp LG(BACKSLASH)
&trans  &trans     &trans     &trans     &trans     &trans     &trans  &trans  &trans     &trans     &trans          &trans       &trans        &trans
            >;
        };

        NumLayer {
            bindings = <
&trans  &trans         &trans        &trans     &trans        &trans                    &trans          &trans         &trans    &trans     &trans               &trans
&trans  &kp N1         &kp N2        &kp N3     &kp N4        &kp N5                    &kp LS(TILDE)   &kp LBKT       &kp UP    &kp RBKT   &kp CARET            &trans
&trans  &kp N6         &kp N7        &kp N8     &kp N9        &kp N0    &trans  &trans  &kp LEFT_BRACE  &kp LEFT       &kp DOWN  &kp RIGHT  &mt LSHFT LS(ENTER)  &trans
&trans  &kp LS(EQUAL)  &kp LS(PLUS)  &kp MINUS  &kp LS(STAR)  &kp FSLH  &trans  &trans  &kp AT          &kp LS(GRAVE)  &trans    &trans     &trans               &trans
&trans  &trans         &trans        &trans     &trans        &trans    &trans  &trans  &trans          &trans         &trans    &trans     &trans               &trans
            >;
        };

        FuncLayer {
            bindings = <
&trans  &trans            &trans            &trans            &trans            &trans                        &trans   &trans   &trans   &trans   &trans   &trans
&trans  &kp LA(NUMBER_1)  &kp LA(NUMBER_2)  &kp LA(NUMBER_3)  &kp LA(NUMBER_4)  &kp LA(F5)                    &kp F7   &kp F8   &kp F9   &kp F10  &kp F11  &kp F12
&trans  &kp LA(NUMBER_6)  &kp LA(N7)        &kp LA(N8)        &kp LA(NUMBER_9)  &kp LA(N0)  &kp F16  &kp F17  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6
&trans  &bt BT_SEL 0      &bt BT_NXT        &bt BT_NXT        &kp F13           &kp F14     &kp F15  &kp F18  &kp F19  &kp F20  &kp F21  &kp F22  &kp F23  &kp F24
&trans  &trans            &trans            &trans            &trans            &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
            >;
        };

        MouseLayer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &mkp MB4   &trans     &mkp MB5   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK  &to 6   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans  &trans
            >;
        };

        ScrollLayer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &mkp MB4   &trans     &mkp MB5   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        layer3 {
            if-layers = <2 3>;
            then-layer = <4>;
        };
    };
};
