#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base_0 {
            bindings = <
&none      &none       &none     &none     &none               &none                                                  &none             &none  &none      &none    &none          &none
&kp TAB    &kp Q       &kp W     &kp E     &kp R               &kp T                                                  &kp Y             &kp U  &kp I      &kp O    &kp P          &kp MINUS
&kp ENTER  &kp A       &kp S     &kp D     &kp F               &kp G            &none             &none               &kp H             &kp J  &kp K      &kp L    &kp SEMI       &kp ENTER
&kp LSHFT  &kp Z       &kp X     &kp C     &kp V               &kp B            &kp SPACE         &kp RET             &kp N             &kp M  &kp COMMA  &kp DOT  &kp FSLH       &kp UNDER
&kt BSPC   &kp DELETE  &kp LGUI  &kp LALT  &lt 4 INT_MUHENKAN  &mt LCTRL SPACE  &lt 2 INT_HENKAN  &lt 4 INT_MUHENKAN  &lt 2 INT_HENKAN  &none  &none      &none    &kp BACKSPACE  &kp ESCAPE
            >;
        };

        Mouse_1 {
            bindings = <
&trans  &trans  &trans          &trans          &trans           &trans                  &trans  &trans          &trans          &trans           &trans  &trans
&trans  &trans  &mkp MB4        &msc SCRL_UP    &mkp MB5         &trans                  &trans  &mkp MB4        &msc SCRL_UP    &mkp MB5         &trans  &trans
&trans  &mo 5   &mkp LCLK       &mkp MCLK       &mkp RCLK        &trans  &trans  &trans  &trans  &mkp LCLK       &mkp MCLK       &mkp RCLK        &mo 5   &trans
&trans  &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans  &trans  &trans  &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans  &trans  &trans  &trans  &trans          &trans          &trans           &trans  &trans
            >;
        };

        Num_2 {
            bindings = <
&trans  &trans    &trans             &trans    &trans      &trans                       &trans         &trans            &trans                &trans                 &trans         &trans
&trans  &kp EXCL  &kp DOUBLE_QUOTES  &kp HASH  &kp DOLLAR  &kp PERCENT                  &kp AMPERSAND  &kp SINGLE_QUOTE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT         &trans
&trans  &kp N1    &kp N2             &kp N3    &kp N4      &kp N5       &trans  &trans  &kp CARET      &kp TILDE         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp INT_YEN    &trans
&trans  &kp N6    &kp N7             &kp N8    &kp N9      &kp N0       &trans  &trans  &kp EQUAL      &kp PLUS          &kp MINUS             &kp STAR               &kp BACKSLASH  &trans
&trans  &trans    &trans             &trans    &trans      &trans       &trans  &trans  &trans         &trans            &trans                &trans                 &trans         &trans
            >;
        };

        Window_3 {
            bindings = <
&trans  &trans  &trans        &trans        &trans         &trans                  &trans  &trans        &trans    &trans         &trans  &trans
&trans  &trans  &kp LA(LEFT)  &kp LG(UP)    &kp LA(RIGHT)  &trans                  &trans  &kp LA(LEFT)  &kp UP    &kp LA(RIGHT)  &trans  &trans
&trans  &trans  &kp LG(LEFT)  &kp LG(DOWN)  &kp LG(RIGHT)  &trans  &trans  &trans  &trans  &kp LEFT      &kp DOWN  &kp RIGHT      &trans  &trans
&trans  &trans  &trans        &trans        &trans         &trans  &trans  &trans  &trans  &trans        &trans    &trans         &trans  &trans
&trans  &trans  &trans        &trans        &trans         &trans  &trans  &trans  &trans  &trans        &trans    &trans         &trans  &trans
            >;
        };

        Func_4 {
            bindings = <
&trans  &trans   &trans   &trans        &trans        &trans                      &trans            &trans   &trans     &trans     &trans    &trans
&trans  &kp N1   &kp N2   &kp N3        &kp N4        &kp N5                      &kp F7            &kp F8   &kp F9     &kp F10    &kp F11   &kp F12
&trans  &kp N6   &kp N7   &kp N8        &kp N9        &kp N0      &trans  &trans  &kp F1            &kp F2   &kp F3     &kp F4     &kp F5    &kp F6
&trans  &kp F11  &kp F12  &out OUT_USB  &out OUT_BLE  &bt BT_NXT  &trans  &trans  &kp SINGLE_QUOTE  &kp DQT  &kp GRAVE  &kp TILDE  &kp PIPE  &trans
&trans  &trans   &trans   &trans        &trans        &trans      &trans  &trans  &trans            &trans   &trans     &trans     &trans    &trans
            >;
        };

        Scroll_5 {
            bindings = <
&none  &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
