#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&zip_temp_layer {
    excluded-positions = <
         7 // U
         8 // I
         9 // O
        19 // J
        20 // K
        21 // L
        22 // Retern
        33 // M
        34 // ,
        35 // .
        24 // LShift
        38 // LCtrl
        52 // BS
    >;
    require-prior-idle-ms = <200>;
};

&trackball_listener {

    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layer 4 100000
    >;

    scroller {
        layers = <5>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_scaler 1 2 //スクロール速度を1/2にする。3/2にする場合は 3 2とする。
        >;
    };
};


&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
